*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pagination{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button{
    width: 100px;
    border-radius: 25px;
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    background-color: aqua;
}

/* Media query */

@media screen and (max-width:414px) {
    .pagination{
        display: flex;
        flex-direction: column;
    }
}