*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    background: url(./images/bg-desktop.svg);
    width: 50%;
    margin:  0 auto;
    border: 1px solid black;
    background-color: coral;
    text-align: center;
    border-radius: 25px;
    margin-top: 30px;
}
h2{
  padding-top: 10px;
  padding-bottom: 10px;
}